# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCode settings
.vscode/

# Environment variables
.env
.env.*

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Python virtual environments
venv/
.env/